@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.header-logo {
  width: 300px;
}
